body{
  background: #97c2ed;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link {
  color: rgb(112, 112, 112);

}

.link:hover {
  color: #000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

#logo {
  position: relative;
  border-radius: 10px;
  margin-left: 15px;
}

.Auth-form-container {
  display: flexbox;
  margin-top: 40px;
  /* margin-left: 350px; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-regsitration-container {
  /* display:flexbox; */
  /* position: ; */
  /* margin-top: 40px ; */
  /* margin-left: 350px; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 200px;
  height: 100vh;
}
link{
  text-decoration: none;
  /* color: rgb(112, 112, 112); */
  color: rgb(112, 112, 112);
}
.Auth-form-loginpage {
  width: 600px;
  height: 800px;
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 8px;
  background-color: white;
  width: 600px;
  height: 300px;
}

.Auth-form-login {
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 8px;
  background-color: rgb(251, 253, 251);
  width: 700px;
  /* height: 700px; */
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.table-list {
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  /* border-s:2px solid black; */
  margin-right: auto;
  margin-left: auto;
  display: flexbox;
  /* width: 1060px; */
  align-items: center;
  height: 60px;
}
.logoclass{
  
}